<div class="video-carousel">
  <c-carousel>
    <c-carousel-inner>
      @for (video of videos(); track video.id) {
        <c-carousel-item>
          <div class="d-block w-100" loading="lazy">
            <youtube-player [videoId]="video.id" width="800" />
          </div>
        </c-carousel-item>
      }
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>
</div>
